html
	head
		title Miraculous Brocoli
		link(href='/resources/css/materialize.min.css' type="text/css" rel="stylesheet")
		link(href='/resources/css/custom.css' type="text/css" rel="stylesheet")
	body
		nav
			div.nav-wrapper
				a#logo.brand-logo MB
				ul.right
					li 
						a(href='/' Home)
					li
						a Contact
		div#header.valign-wrapper
			div.row.valign
				div.col.l12
					h1.center What do I do
		main
			div.container
				div.row
					div.col.l8.offset-l2
						div#topcard.card
							div.card-content
							h2 Lorem Ipsum	
								p.flow-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoirure dolor in reprehenderit in voluptate velit essedolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non, sunt in culpa qui officia deserunt mollit anim id est laborum.
								p.flow-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoirure dolor in reprehenderit in voluptate velit essedolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non, sunt in culpa qui officia deserunt mollit anim id est laborum.


		footer.page-footer
			div.container
				div.row
					div.col.l6.s12
						h5.white-text MB Footer
						p.grey-text.text-ligthen-3 Oh my god this footer is amazing
					div.col.l4.offset-l2.s12
						h5.white-text
							ul.white-text
								li OMG
								li OMG OMG
								li OMG OMG OMG
			div.footer-copyright
				div.container



		script(src="/resources/js/jquyer-3.1.1.min.js")
		script(src="/resources/js/materialize.min.js")
		script(src="/resources/js/custom.js")